//== Colors

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 39.5%) !default; // #666
$gray-light: lighten($gray-base, 52%) !default; // #888
$gray-lighter: lighten($gray-base, 80.5%) !default; // #ccc

$brand-primary: #059cfe !default;
$brand-success: #4dc970 !default;
$brand-info: #87c9f4 !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

//** Background color for `<body>`.
$body-bg: #f6f6f6 !default;
//** Global text color on `<body>`.
$text-color: $gray-dark !default;

//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Microsoft YaHei, Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)) !default; // ~20px

$state-success-text: $brand-success !default;

$state-info-text: $brand-info !default;

$state-warning-text: $brand-warning !default;

$state-danger-text: $brand-danger !default;

//== Type
//
//##

//** Horizontal offset for forms and lists.
//** Text muted color
$text-primary: $gray-dark !default;
$text-secondary: $gray !default;
$text-muted: $gray-light !default;
//** Abbreviations and acronyms border color
//** Horizontal line color.
$hr-border: $gray-lighter !default;
