<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">

    <% } %>
     <link rel="stylesheet" href="http://at.alicdn.com/t/font_h50qni1gdq60qkt9.css">
  </head>
  <body>
  <script>
      window.config = {
          currentUser: "lidy",
          context: "http://localhost:2618/api/"
      }
  </script>

  <div id="root"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>
